@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

body {
    margin: 0;
    background-color: #1a0b02;
}

html {
    font-size: .625em;
    font-size: calc(1em*.625);
}

.bg {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fond_carteVoeuxCadre.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#VS {
    font-size: 6rem;
}

#JF {
    margin-top: -3%;
    font-size: 10rem;
}

.title {
    margin-top: -8%;
    padding-left: 30%;
    color: #C7CBCE;
    font-family: 'Clicker Script', cursive;
    z-index: 9;
}