@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

body {
    background-color: #1a0b02;
    overflow: hidden;
}

html {
    font-size: .625em;
    font-size: calc(1em*.625);
}


.bg {
    margin-top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/fond_carteVoeuxCadre.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.bg p{
    margin-top: -3.5%;
    font-weight: bold;
    font-size: 4rem;
    color: #b9a64d;
    font-family: 'Clicker Script', cursive;
}

.VS {
    font-size: 6rem;
}

#JF {
    margin-top: -3%;
    font-size: 10rem;
}

.title {
    margin-top: -8%;
    padding-left: 30%;
    color: #C7CBCE;
    font-family: 'Clicker Script', cursive;
    z-index: 10;
}

